<table class="table table-bordered table-striped" style="background:snow">
    <thead class="thead-inverse">
    <tr>
        <th>Ticket Number </th>
        <th>Bus Number</th>
        <th>Start place</th>
        <th>End place</th>
        <th>Departure Date</th>
        <th>Departure Time</th>
        <th>Bus Type</th>
        <th>Price</th>
        <th>Number Of Seats</th>
        
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ticket of allTickets;let last = last">
        <th>{{ticket.id}}</th>
        <td>
            <input type="text"
                   name="source"
                   class="form-control"
                   id="source"
                   placeholder="Start place"
                   [(ngModel)]="ticket.bus.bus_id"
                   #source="ngModel"
                   required/>
        </td>
        <td>
            <input type="text"
                   name="destination"
                   class="form-control"
                   id="destination"
                   placeholder="End place"
                   [(ngModel)]="ticket.bus.source"
                   #destination="ngModel"
                   required/>
        </td>
        <td>
            <input type="text"
                   name="distance"
                   class="form-control"
                   id="distance"
                   min="0"
                   placeholder="Distance"
                   [(ngModel)]="ticket.bus.destination"
                   #distance="ngModel"
                   required/>
        </td>
        <td>
            <input
                name="departureDate"
                class="form-control"
                first-day-of-week="1"
                [(ngModel)]="ticket.bus.departureDate"
                ng2-datetime-picker
                #departureDate="ngModel"
                required />
        </td>
        <td>
            <input
                name="time"
                class="form-control"
                first-day-of-week="1"
                [(ngModel)]="ticket.bus.time"
                ng2-datetime-picker
                #time="ngModel"
                required />
        </td>
        <td>
            <input
                name="busType"
                class="form-control"
                [(ngModel)]="ticket.bus.type"
                #busType="ngModel"
                required />
        </td>
        <td>
            <input
                name="price"
                class="form-control"
                [(ngModel)]="ticket.bus.price"
                #price="ngModel"
                required />
        </td>
        <td>
            <input
                name="seats"
                class="form-control"
                [(ngModel)]="ticket.numberOfSeats"
                #seats="ngModel"
                required />
        </td>
        <td>
            <button class="btn btn-danger" (click)="cancelTicket(ticket)">Cancel<i class="fa fa-trash"></i>
            </button>  
        </td>
    </tr>
    </tbody>
</table>
