<div class="col-md-4 offset-4 mt-6 card" style="background:snow">
    <div class="card-body">
<form #registerUser="ngForm" (ngSubmit)="user(registerUser)">
    <h1 class="h1 text-center">Registration Form</h1>

    <div class="form-group">
        <label for="firstName" class="text-success">First Name</label>
        <input type="text" #firstName="ngModel" ngModel name="firstName" id="firstName" class="form-control" required placeholder="Enter user name">
        <div *ngIf="firstName.touched && firstName.invalid">
            <p class="alert alert-danger"> This field is required</p>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName" class="text-success">Last Name</label>
        <input type="text" #lastName="ngModel" ngModel name="lastName" id="lastName" class="form-control" required placeholder="Enter user name">
        <div *ngIf="lastName.touched && lastName.invalid">
            <p class="alert alert-danger"> This field is required</p>
        </div>
    </div>

    <div class="form-group" [class.has-danger]="email.errors && email.dirty">
        <label for="email" class="text-success">Email</label>
        <input type="email" #email="ngModel" pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" ngModel name="email" id="email" class="form-control"
            required placeholder="Enter user email"> 
            <div *ngIf="email.errors && email.dirty">
                <div [hidden]="!email.errors">
                    <p class="alert alert-danger">Invalid e-mail address format!</p>
                </div>
                <div [hidden]="email.errors">
                    <p class="alert alert-danger"> This field is required</p>
                </div>
            </div>
        
    </div>

    <div class="form-group">
        <label for="password" class="text-success">Password </label>
        <input type="password" #password="ngModel" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" ngModel name="password" id="password"
            class="form-control" required placeholder="Enter password">
        <div *ngIf="password.touched && password.invalid">
            <div [hidden]="!password.errors">
                <p class="alert alert-danger">Please enter strong password (Must contain atleast one numbers,atleast one lowercase,atleast one uppercase, atleast one special characters)</p>
            </div>
            <p class="alert alert-danger" [hidden]="password.errors"> This field is required</p>
        </div>
    </div>

    <div class="form-group">
        <label for="phoneNumber" class="text-success">Contact Number </label>
        <input type="number" #phoneNumber="ngModel" pattern="[0-9]{10}" ngModel name="phoneNumber" id="phoneNumber" class="form-control"
            required placeholder="Enter Contact">
           
            <div *ngIf="phoneNumber.touched && phoneNumber.invalid">
                <div [hidden]="!phoneNumber.errors">
                    <p class="alert alert-danger">Invalid Phone Number format!</p>
                </div>
                <p class="alert alert-danger" [hidden]="phoneNumber.errors"> This field is required</p>
            </div>
    </div>
    
    <input type="hidden" name="type" id="type" #type="ngModel" [(ngModel)]=name>
    <button type="submit" class="btn btn-outline-info btn-block form-control" [disabled]="registerUser.invalid">Register </button>
</form>
</div>
</div>