<div class="row">
    <div class="col-sm-6">
        <br>
        <div class="card" style="background:snow">
            <div class="card-body">
                <h3>Search Bus</h3>
                <form #checkAvailForm="ngForm" (ngSubmit)="checkAvail(checkAvailForm)">
                    <fieldset>
                        <label for="startingPoint" class="text-success"> <b>FROM: </b></label>
                        <input type="text" #startingPoint="ngModel" ngModel name="startingPoint" id="startingPoint"
                            class="form-control" required placeholder="Enter starting Point ">

                        <label for="endingPoint" class="text-success"> <b>TO: </b></label>
                        <input type="text" #endingPoint="ngModel" ngModel name="endingPoint" id="endingPoint"
                            class="form-control" required placeholder="Enter ending Point ">

                        <label for="availableDate" class="text-success"> <b>DATE: </b></label>
                        <input type="date" #availableDate="ngModel" ngModel name="availableDate" id="availableDate"
                            class="form-control">
                        <br>
                        <button class="btn btn-primary" [disabled]="checkAvailForm.invalid">Search</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

    <!-- <div class="col-md-9 offset-md-2 card card-body mt-3" *ngIf="check">
        <table class="table table-bordered table-hover table-striped">
            <thead class="bg-info">
                <td>Available Date</td>
                <td>Available Seat</td>
                <td>Bus Id</td>
            </thead>
            <tbody>
                <tr *ngFor='let avail of avails'>
                    <td>{{avail.availableDate | date }}</td>
                    <td>{{avail.availableSeat}}</td>
                    <td>{{avail.busId}}</td>
                </tr>
            </tbody>
        </table> -->
<div>
        <table class="table table-bordered table-striped " *ngIf="check" style="background:snow">
            <thead class="thead-inverse">
            <tr>
                <th>Bus Number</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Distance</th>
                <th>Departure Date</th>
                <th>Departure Time</th>
                <th>Avaliable Seats</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bus of avails;">
                <td>
                    {{bus.bus_id}}
                </td>
                <td>
                    {{bus.source}}
                </td>
                <td>
                    {{bus.destination}}
                </td>
                <td>
                    {{bus.distance}}
                </td>
                <td>
                    {{bus.departureDate}}
                </td>
                <td>
                    {{bus.time}}
                </td>
                <td>
                    {{bus.seats}}
                </td>
                <td>
                    {{bus.price}}
                </td>
                <td class="buttons-row">
                    <button class="btn btn-sm btn-info"  (click)="bookTicket(bus)" >
                        Book Ticket
                    </button>
                </td>
            </tr>
            <tr>
                <td *ngIf="avails.length === 0" class="no-connections" colspan="99">No Bus Available</td>
            </tr>
            </tbody>
        </table>
</div>
        <!-- <h1>{{price}}</h1> -->
         <!-- <app-book-seats [v]="price"></app-book-seats>  -->
        