<div class="container parentcontainer">
    <div class="row justify-content-center" *ngIf="ticket">
        <div class="col col-lg-8 col-md-10 col-sm-12 ticket">
                <div class="row heading my-2">
                    <div class="col"><b>Ticket</b></div>
                </div>
                <div class="row route my-2 mx-1 py-2"> 
                    <div class="col">
                        <h2 class="endpoints"><b>{{ticket.bus.source}} {{ticket.bus.destination}}</b></h2>
                    </div>
                    <div class="col">
                        <h2><b> {{ticket.bus.departureDate}}</b></h2>
                    </div>
                </div>
                <div class="row my-3 mx-1 passenger pt-2">
                    <div class="col-md-4 col-sm-6">
                        <h3>Passenger Details</h3>
                        <h3 class="passengername">{{ticket.user.firstName}}</h3>
                        <p>{{ticket.user.phoneNumber}} <br>{{ticket.user.email}}</p>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <h3>Ticket Id</h3>
                        <p>{{ticket.id}}</p>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <h5>Total Seats</h5>
                        <p>{{ticket.numberOfSeats}} </p>
                    </div>

                    <div class="col-md-2 col-sm-6">
                        <h3>Total Fare</h3>
                        <p>{{ticket.ticketPrice}}</p>
                    </div>

                </div>

                <div class="row my-3 mx-1 passenger pt-2">
                    <div class="col-md-4 col-sm-6">
                        <h3>Bus Name</h3>
                        <p>{{ticket.bus.bus_id}} <br> {{ticket.bus.type}}</p>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <h3>Reporting Time</h3>
                        <p>Before 30 minutes</p>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <h3>Departure Time</h3>
                        <p>{{ticket.reservationDate}}</p>
                    </div>
                </div>
        </div>
    </div>
    <div class="row my-3">
        <div class="mx-auto condition">**Please bring this copy to ticket counter for collecting your ticket</div>
    </div>
    <div class="row my-3">
        <div class="mx-auto">
            <button class="btn btn-primary" routerLink="/viewtickets">View All Tickets</button>
        </div>
  </div>

</div>